


li {
	margin: 10px 5px 10px 5px;
	display: inline;
	
}

a {
	text-decoration: none;
	color: black;
}

form {
	position:absolute;
	left:50%;
	bottom: 45%;
	
}

#nav{
	position: absolute;
	right:20px;
}

#hplogo{
	position:absolute;
	left:40%;
	bottom: 50%;
}

div.footer{
	width:100%;
	position: absolute;
	
	bottom:2%;
	background: #d3d7cf;
}

div.left {
	float:left;
}

div.right {
	
	float:right;
}
